<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Program Files (x86)\5.1\lua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\Program Files (x86)\5.1</StartWorkingDirectory>
  </propertyGroup>
</Project>